<h1 mat-dialog-title>Add Price</h1>

<form novalidate #form="ngForm" (ngSubmit)="addPrice(form)">
    <div mat-dialog-content>
        <mat-form-field class="example-full-width">
            <mat-label>Product Id</mat-label>
            <input matInput type="number" name="id" [(ngModel)]="product.id" />
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <mat-label>Product Price($)</mat-label>
            <input matInput type="number" name="price" [(ngModel)]="product.price"/>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button type="submit" cdkFocusInitial tabindex="1">Add</button>
        <button mat-button type="button" (click)="onNoClick()" tabindex="-1">Cancel</button> 
    </div>
</form>