<div class="container-fluid">
    <div class="row">
        <div class="col bg-dark text-white">
            <a class="navbar-brand">WATCH STORE</a>
        </div>
    </div>

    <div style="margin-top: 40px;" class="row-fluid justify-content-center">
        <div *ngFor="let product of products">
            <div class="col-5 float-left">
                <h3> {{product.productTitle}} </h3>
                <h6> product id : {{product.id}} </h6>
                <h6> product code : {{product.productCode}} </h6>
                <br>
                <h5 *ngIf="product.price > 0; else addPrice" class="badge badge-dark float-left">
                    Price : {{ product.price }} BDT 
                </h5>

                <h5 *ngIf="product.discountOffer > 0; else addDiscount" style="margin-left: 330px;" class="badge badge-secondary float-left">
                    Discount : {{ product.discountOffer }}%
                </h5>
                <br>
                <br>
                <!-- <button type="button" class="btn btn-outline-dark btn-sm float-left">Update</button> -->
                
                <ng-template #addPrice>
                    <button type="button" class="btn btn-outline-danger btn-sm float-left">Add Price</button>
                </ng-template>
                <ng-template #addDiscount>
                    <button type="button" style="margin-left: 355px;" class="btn btn-outline-dark btn-sm float-left" routerLink="/offer">
                        Add Discount
                    </button>
                </ng-template>
                
            </div>

            <div class="col-5 float-left">
                <img [attr.src]="product.imageUrl" width="500px" height="250px" />
            </div>
        </div>
    </div>
</div>